@using Services;
@using Model;
@page "/createpost"
@inject ApiService apiService

<div>
    <br />
    <h3>Create a new post</h3>
    <input placeholder="Post Title" type="input" id="Post Title" @bind-value="title" />
    <input placeholder="Post Content" type="input" id="Post Content" @bind-value="text" />
    <input placeholder="User" type="input" id="User" @bind-value="user" />
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Create New Post</button>
</div>

@code {

    // PostId is passed in from the parent component. See how in PostItem.razor.
    [Parameter]
    public int id { get; set; }
    private string? title;
    private string? text;
    private string? user;

    private async void CreateNewPost()
    {
        await apiService.CreatePost(title, text, user);
    }

}
