@using Services;
@using Model;
@page "/createpost"
@inject ApiService apiService

    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>

<div>
    <br />
    <h3>Create a new post</h3>
    <input placeholder="Post Title" type="input" id="Post Title" @bind-value="title" />
    <input placeholder="Post Content" type="input" id="Post Content" @bind-value="text" />
    <input placeholder="User" type="input" id="User" @bind-value="user" />
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Create New Post</button>
    <br />
    <label class="postCreatedBesked" for="postCreatedBesked">Your recent post:</label>
</div>


<div class="newPost">
    <table>
        <tr>
            <th>Title</th>
            <th>Text</th>
        </tr>

        <tr>
            <td>@newTitle</td>
            <td>@newText</td>
        </tr>
    </table>
</div>


@code {

    [Parameter]
    public int id { get; set; }
    private string? title;
    private string? text;
    private string? user;
    
    private string newTitle = "";
    private string newText = "";

    private async Task CreateNewPost()
    {

        Post newPost = await apiService.CreatePost(title, text, user);
        Console.WriteLine($"{title}, {text}, {user}");
        newTitle = title;
        newText = text;
    }

}
